
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h2>Education</h2>
@foreach (KeyValuePair<String, String> education in ViewData["MyEducation"] as IDictionary<String, String>)
{
    <p>@education.Key: @education.Value</p>
}

<h2>Work Experience</h2>
@foreach (KeyValuePair<String, String> work in ViewData["MyWorkExperience"] as IDictionary<String, String>)
{
    <p>@work.Key: @work.Value</p>
}
